
@{
    ViewData["Title"] = "NS-Stoel Vinder Reclame";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <br>
    <form class="d-sm-inline-flex flex-sm-row-reverse">
        <video width="900" height="500" autoplay>
            <source src="~/video/Reclame.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </form>
</div>
<br />

