@model NS_Stoel_Vinder_Applicatie.ViewModels.TrainViewModel
@{
    ViewData["Title"] = "NS-Trein";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form>
    <div class="text-center">

     
    </div>
</form>
