@{
    ViewData["Title"] = "Klasse";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>Kies uw klasse</p>
    <br />
    <div class="text-center">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <div class="inline-block">
                        <a asp-controller="Wagon" asp-action="FirstClass" button type="submit" class="btn btn-danger w-25">1ste Klasse</a>

                        <a asp-controller="Wagon" asp-action="SecondClass" button type="submit" class="btn btn-primary w-25" style="margin-right:20px">2de Klasse</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

