@model NS_Stoel_Vinder_Applicatie.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Nieuwe wachtwoord";
}
@Html.Raw(TempData["msg"])
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>U kunt hier een nieuwe wachtwoord aanmaken.</p>
    </div>

<br />
<div class="text-left">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                @Html.ValidationMessageFor(m => m.Email)
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Wachtwoord veranderen</button>
                    <br />
                    <br />
                </div>
            </form>
        </div>
    </div>

</div>
